<p id="notice"><%= notice %></p>

  <div id= "school-title">
    <h1><%= @school.name %></h1>
  </div>

  <p class="lead">
    <%= @school.short_description %>
  </p>

  <address>
    <b>
      <%= @school.street %><br/>
      <!--<%= @school.city %>, <%= @school.state %> <%= @school.zip %><br/>-->
      <%= @school.phone %><br/>
      <%= @school.email_address %>
    </b>
  </address>

  <div>
      <%= gmaps4rails(@marker) %>
  </div>

  <div id="school-body">
    <div class="container">
      <h4><%= @school.name %></h4>
      <p><%= @school.long_description %></p>
    </div>
  </div>

  <p>
    <b>Category:</b>
    <%= @school.category.name %>
  </p>

  <p>
    <b>Instructors:</b>
    <%= @school.instructors %>
  </p>

  <p>
    <b>Verified:</b>
    <%= @school.verified %>
  </p>

  <p>
    <b>Price:</b>
    <%= @school.price %>
  </p>



<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
<div>
  <%= render 'layouts/footer' %>
</div>
