<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @school.name %>
</p>

<p>
  <b>Address:</b>
  <%= @school.address %>
</p>

<p>
  <b>City:</b>
  <%= @school.city %>
</p>

<p>
  <b>State:</b>
  <%= @school.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @school.zip %>
</p>

<p>
  <b>Phone:</b>
  <%= @school.phone %>
</p>

<p>
  <b>Short description:</b>
  <%= @school.short_description %>
</p>

<p>
  <b>Long description:</b>
  <%= @school.long_description %>
</p>

<p>
  <b>Category:</b>
  <%= @school.category_id %>
</p>

<p>
  <b>Instructors:</b>
  <%= @school.instructors %>
</p>

<p>
  <b>Verified:</b>
  <%= @school.verified %>
</p>

<p>
  <b>Price:</b>
  <%= @school.price %>
</p>


<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
