<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="widget">
                    <h3 class="widget-title">About Us</h3> 
                    <p>Proin fermentum sollicitudin ante, sed tempor eros molestie id. Donec volutpat odio eu mi imperdiet nec laoreet diam venenatis. Proin fermentum sollicitudin ante, sed tempor eros molestie id. Donec volutpat odio eu mi imperdiet nec laoreet diam venenatis.</p>
                </div>
            </div>
            <div class="span3">                  
                <div class="widget recent-tweets">
                    <h3 class="widget-title">Latest Tweets</h3>
                    <ul>
                        <li>You know you're good in <a href="">#WordPress</a> if you can use WordPress in any language.<a href="" title="view tweet on twitter"> about a day ago</a></li>
                        <li>Confucius: Tell me and I forget. Show me and I remember. Let me do and I understand.<a href="" title="view tweet on twitter"> about 6 days ago</a></li>
                    </ul>
                </div>
            </div>
            <div class="span3">
                <h3 class="widget-title">Where We Are</h3>
                <p class="faddress">5482 Wilshire Blvd Suite #101 <br />Los Angeles, CA 90036</p>
                <p class="phone">Phone: (323) 800-4064</p>
                <p class="email">thespee.site@gmail.com</p>
            </div>
            <div class="span3">
                <div class="widget photo-stream">
                    <h3 class="widget-title">Stay Connected.</h3>
                    <ul>
                        <li><a href=""><%= image_tag "flickr/flickr_1.jpg" %></a></li>
                        <li><a href=""><%= image_tag "flickr/flickr_2.jpg" %></a></li>
                        <li><a href=""><%= image_tag "flickr/flickr_3.jpg" %></a></li>
                        <li><a href=""><%= image_tag "flickr/flickr_4.jpg" %></a></li>
                        <li><a href=""><%= image_tag "flickr/flickr_5.jpg" %></a></li>
                        <li><a href=""><%= image_tag "flickr/flickr_6.jpg" %></a></li>
                        <li><a href=""><%= image_tag "flickr/flickr_7.jpg" %></a></li>
                        <li><a href=""><%= image_tag "flickr/flickr_8.jpg" %></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
<div id="copyrights">
    <div class="container">
        <div class="row">
            <div class="terms-condition span7">
                <ul class="copyright">
                    <li>TM + © 2012 DHAKADESK DEV. All rights reserved</li>
                    <li><a href="">Legal Notice</a></li>
                    <li><a href="">Terms &amp; Conditions</a></li>
                </ul>
            </div>
            <div class="span5">
                <ul class="social-links pull-right">
                    <li><a href="" rel="tooltip" data-placement="top" data-original-title="Facebook"><i class="icon-facebook"></i></a></li>
                    <li><a href="" rel="tooltip" data-placement="top" data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
                    <li><a href="" rel="tooltip" data-placement="top" data-original-title="GitHub"><i class="icon-github"></i></a></li>
                    <li><a href="" rel="tooltip" data-placement="top" data-original-title="LinkedIn"><i class="icon-linkedin"></i></a></li>
                    <li><a href="" rel="tooltip" data-placement="top" data-original-title="Pinterest"><i class="icon-pinterest"></i></a></li>
                    <li><a href="" rel="tooltip" data-placement="top" data-original-title="Google Plus"><i class="icon-google-plus"></i></a></li>
                    <li><a href="" rel="tooltip" data-placement="top" data-original-title="RSS"><i class="icon-rss"></i></a></li>
                    <li><a href="" rel="tooltip" data-placement="top" data-original-title="Other"><i class="icon-sign-blank"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>